\*{
    margin: 0px;
    padding: 0px; 
}
.logo{
    padding: 10px;

}
.logo img{
    width: 200px;
}

.navbar{
    display: flex;
    background-color: rgb(161, 215, 252);
    position:sticky;
    top: 0px;
    left: 0px;
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 10px 20px;
    margin-left:2px ;
}
.nav-list li:hover{
    background-color: darkblue;
    border-radius: 20px;
}

.nav-list li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    
}
.nav-list li a:hover{
    color: aliceblue;
    border-radius: 5%;

}
.rightNav{
    width: 30%;
    text-align: right;
    margin-top: 15px;
}
#search{
    margin: 15px;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid white;
    
}
.rightNav button{
    font-weight: bolder;
    vertical-align: middle;
    color: white;
    padding: 8px;

    margin: 7px;
    border:2px solid white;
    background: none;
    border-radius: 8px;
}

            /* SECOND PART of website */
.poster{
    display: flex;
    z-index: 200;
}
.poster img{
    height: 50%;
    width: 100%;
}
section .secondpart{ 
    background-image: linear-gradient(lightblue,white);
    width: 100%;
    height: 50%;
   
}
section .secondpart .main-topic-1{
    text-align: center; 
    background-image: linear-gradient(lightblue,white);
    padding: 10px;
    
}
section .secondpart .main-topic-1 h2{   
    font-size: 30px;
    font-family:Georgia;
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #337ab7;
    padding: 5px;
    
}
section .secondpart .boxes{
    width: 100%;
    display: flex;
}
section .secondpart .boxes .box{
    height: 50%;
    width: 30%;

    margin-left: 2.5%;
}
section .secondpart .boxes .box .heading{
    padding: 2px;
    width: 100%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-bottom: 2px solid ;
}
section .secondpart .boxes .box .links{
    color: blue;
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}
section .photo{
    padding: 10px;
    margin-left:41% ;
}
section .photo img{
    width: 200px;
}

        /* THIRD PART OF WEBSITE */

section .Thirdpart{
    background-image: linear-gradient(to right, red , yellow);
    width: 100%;
    height: 20%;
    display: flex;
}
section .Thirdpart .icon{ 
    margin-top: 2%;
    width: 20%;
}
section .Thirdpart .icon img{
margin-inline-start: 25%;
}
section .Thirdpart .icon h2{
    font-size: 20px;
    color: aliceblue;
    margin-left: 25%;
}

        /* FOURTH PART OF WEBSITE */

section .fourth-part{
    width: 100%;
    height: 50vh;
}
section .fourth-part .main-topic-2{
    width: 100%;
    text-align: center;
    background-color: darkblue;
    padding-top: 5px;
    padding-bottom: 5px;
}
section .fourth-part .main-topic-2 h2{
    text-decoration: underline;
    color: white;   
}
.container {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;

}

.boxes-2 {
  width: 20%;
  height: 30%;
  perspective: 1000px;
  position: relative;
  cursor: pointer;
}
.boxes-2 img{
    border-radius: 5%;
}

.front, .back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  text-align: center;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.boxes-2:hover .front {
  transform: rotateY(180deg);
}
.boxes-2:hover .back {
  transform: rotateY(0deg);
  
}


        /* FIFTH-PART OF WEBSITE */


          .content-section {
            display: flex;
            border-radius: 10px;
            overflow: hidden;
            margin-top: 5%;
            background-color: #f0f0f0;
          }
          
          .image-container {
            flex: 1;
            background-image: url('1Img_files/fifthpart-img.jpeg');
            background-size: cover;
            background-position: center;
            border-radius: 0px 150px 150px 0px;
          }
          
          .text-container {
            text-align: center;
            flex: 1;
            padding: 20px;
            
          }
          .text-container h2 {
            margin-top:3%;
            border: 2px solid darkcyan ;
          }
          .text-container .part {
            margin-bottom: 0;
            border-bottom: 2px solid black;
            
          }
          .text-container .part p{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
          }
          .text-container .part h3{
            font-size: 15px;
            color:rgb(77, 75, 75);
          }
          .text-container button{
            border-radius: 18px;
            padding: 10px;
            margin-top: 5%;
            color: #f0f0f0;
            font-weight: 600;
            background-color: #337ab7;
            font-family: Arial, Helvetica, sans-serif;
            border-color: #337ab7;
            cursor: pointer;
          }
          section .sixth-part{
            margin-top: 5%;
            display: flex;
            justify-content: space-between;

          }
          
          
          



















@media only screen and (max-width:1140px) {
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .nav-list{
        flex-direction: column;
        text-align: center;
    }
    .rightNav{
        text-align: center;
        padding-left: 3%;
    }
    section .secondpart .boxes{
     flex-direction: column;
     text-align: center;
    }

}
